html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    align-items: center;
    background-color: #505050;
}

header, footer {
    background-image: linear-gradient(to left, #134099, #000000);
    color: rgb(255, 255, 255);
    padding: 0.5em;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    border: 2px inset #000000;
    border-radius: 2px;
}

.headerContainer, .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff2a00f1;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2em;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

section {
    margin-bottom: 2em;
    width: 100%;
}

#apod img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search, #birthday-link, #back-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search input[type="date"], #search button, #birthday-link a, #back-link a {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    margin: 0.5em;
    transition: background-color 0.3s, color 0.3s;
}

#search button, #birthday-link a, #back-link a {
    background-color: #1b59d7;
    color: white;
    text-decoration: none;
}

#search button:hover, #birthday-link a:hover, #back-link a:hover {
    background-color: #b41703f6;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.carousel img {
    max-width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, p {
    margin: 0.5em 0;
}

h1, h2 {
    margin: 0.5em 0;
}

p {
    margin: 0.2em 0;
}

@media (max-width: 768px) {
    .headerContainer img {
        width: 50%; 
        height: auto; 
    }
}