html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    align-items: center;
}

header {
    background-color: #1b59d794;
    color: white;
    padding: 0.2em;
    width: 100%;
    text-align: center;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteText {
    color: white;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    max-width: 800px;
    width: 100%;
}

section {
    margin-bottom: 2em;
}

#apod img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #1b59d794;
    color: white;
    padding: 0.2em;
    width: 100%;
    text-align: center;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}