html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    align-items: center;
    background-image: url(jwstSaturation.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-hyphens: auto;
                  hyphens: auto;
                  word-wrap: break-word;
                  overflow-wrap: anywhere;
}

#spinnerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

header {
    background-image: linear-gradient(to bottom, #0000003a, #00000000);
    color: rgb(255, 255, 255);
    width: 100vw;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding: 1em 0;
}

footer {
    background-image: linear-gradient(to top, #0000003a, #00000000);
    color: rgb(255, 255, 255);
    width: 100vw;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding: 1em 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.headerContainer, .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catchPhrase {
    font-size: 1.5em;
    animation: fadeIn 3s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ff0000d4;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.499);
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    color: white;
    box-sizing: border-box;
}

section {
    width: 100%;
}

#apod img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
}

#apod-video {
    width: 100%;
    height: 70vh;
    max-width: 100%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search, #birthday-link, #back-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search input[type="date"], #search button, #birthday-link a, #back-link a {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    margin: 0.5em;
}

#search button, #birthday-link a, #back-link a {
    background-color: #575757;
    color: white;
    text-decoration: none;
}

#search button:hover, #birthday-link a:hover, #back-link a:hover {
    background-color: #b41803;
    cursor: pointer;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border: 10px solid rgb(255, 255, 255);
    border-top: 10px solid #ff0000;
    border-radius: 50%;
    animation: spin .5s linear infinite;
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 3em;
}

.carousel img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.carousel iframe {
    width: 100%;
    height: 56.25vw;
    max-height: 70vh;
    border-radius: 8px;
}

h1, h2, h3, p {
    margin: 0.5em 0;
}

h1, h2 {
    margin: 0.2em 0;
}

p {
    margin: 0.2em 0;
}

img[src="apodOriginal.png"] {
    transition: transform 0.2s ease-in-out; /* Smooth transition for transform property */
}

img[src="apodBirthdayHats.png"]:hover {
    transform: scale(1.1); /* Scale up on hover */
}

img[src="apodBirthdayHats.png"] {
    transition: transform 0.2s ease-in-out; /* Smooth transition for transform property */
}

img[src="apodOriginal.png"]:hover {
    transform: scale(1.1); /* Scale up on hover */
}

@media (max-width: 768px) {
    header, footer {
        padding: 0.5em 0.2em;
        font-size: 0.9em;
    }

    .headerContainer, .footerContainer {
        flex-direction: column;
    }

    .carousel iframe {
        height: 50vw;
    }
}

@media (max-width: 480px) {
    header, footer {
        font-size: 0.8em;
    }
}
